<div class="sidebar">

  <div class="logo"></div>

  <ul class="menu">

    <li routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </li>

    <li routerLink="/users" routerLinkActive="active">
      Users
    </li>

    <li routerLink="/training-courses" routerLinkActive="active">
      Training Courses
    </li>

    <li routerLink="/exams" routerLinkActive="active">
      Exams
    </li>

   <li class="menu-parent">

  <div class="menu-title" (click)="toggleSessionsMenu()">
    <span>Sessions</span>
    <span class="arrow" [class.rotate]="isSessionsOpen">▸</span>
  </div>

  <ul class="submenu" [class.open]="isSessionsOpen">

  <li routerLink="/sessions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

    Sessions List
  </li>

  <li routerLink="/sessions/equipments" routerLinkActive="active">
    Equipments
  </li>

</ul>


</li>



    <li routerLink="/partners" routerLinkActive="active">
      Partners
    </li>

    <li class="menu-parent">

      <div class="menu-title" (click)="toggleHrMenu()">
        <span>HR</span>
        <span class="arrow" [class.rotate]="isHrOpen">▸</span>
      </div>
    
      <ul class="submenu" [class.open]="isHrOpen">
    
        <li routerLink="/hr"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
          Applications
        </li>
    
        <li routerLink="/hr/trainer-profiles"
            routerLinkActive="active">
          Trainer Profiles
        </li>
    
        <li routerLink="/hr/trainer-details"
            routerLinkActive="active">
          Trainer Details
        </li>
        <li routerLink="/hr/dashboard"
        routerLinkActive="active">
      📊 HR Dashboard
    </li>
      </ul>
    
    </li>
    

  </ul>

</div>
