<div class="sidebar">

  <!-- Logo -->
  <div class="logo"></div>

  <!-- Main Menu -->
  <ul class="menu">

    <li routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </li>

    <li routerLink="/users" routerLinkActive="active">
      Users
    </li>

    <li routerLink="/training-courses" routerLinkActive="active">
      Training Courses
    </li>

    <li routerLink="/exams" routerLinkActive="active">
      Exams
    </li>

    <li routerLink="/sessions" routerLinkActive="active">
      Sessions
    </li>

    <li routerLink="/partners" routerLinkActive="active">
      Partners
    </li>

    <li routerLink="/hr" routerLinkActive="active">
      HR
    </li>

  </ul>



</div>
